asgiref==3.11.1
beautifulsoup4==4.15.0
brotli==1.2.0
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.2
defusedxml==0.7.1
Django==5.2
django-environ==0.14.0
feedparser==6.0.12
filelock==3.29.4
idna==3.18
joblib==1.5.3
lxml==5.4.0
lxml_html_clean==0.4.4
newspaper4k==0.9.5
nltk==3.10.0
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
python-dateutil==2.9.0.post0
PyYAML==6.0.3
regex==2026.6.28
requests==2.34.2
requests-file==3.0.1
sgmllib3k==1.0.0
six==1.17.0
soupsieve==2.8.4
sqlparse==0.5.5
tldextract==5.3.1
tqdm==4.68.4
typing_extensions==4.15.0
urllib3==2.7.0
w3lib==2.4.1
